extends layout

block content
  h1 登录页
  form(action="/admin/login",method="post")
    label(for="userName") 输入用户名
      input#userName(type="text",name="user[name]")
    label(for="userPassword") 输入密码
      input#userPassword(type="text",name="user[password]")
    button(type="submit") 登录
